/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.01.2018, 15:54:41
    Author     : Marcel
*/

.container{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 82vh;
    padding: 3%;
}

.h1{
    color: black;
    font-size: xx-large;
}

.h2{
    color: black;
    font-size: x-large;
}

.h3{
    color: black;
    font-size: large;
}

.login{
    text-align: right;
}

.column1{
    width: 300px;
    overflow: hidden;
}

.column2{
    width: 300px;
    overflow: hidden;
}

.column3{
    width: 50px;
    overflow: hidden;
}

.buttonInc{
    width: 20px;
    height: 20px;
}

.buttonDec{
    width: 20px;
    height: 20px;
}